{% extends 'users/base.html' %}
{% load static %}
{% block content %}
  <h2>Upload DICOM Image</h2>
  <form method="post" enctype="multipart/form-data" action="{% url 'upload_dicom' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
  <a href="logout">Logout</a>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endblock content %}